<h1 class="text-center">Panel de control</h1>
<hr>
<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h4>PH Level</h4>
            {{message}}
        </div>
        <div class="col-sm-6">
            <h4>Water Flow</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Pressure</h4>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </div>  
        </div>
    </div>
    
</div>
